footer {
  /* position: absolute;
  top: 1px; */
}

hr {
  all: unset;
  border-top: 1px black solid;
}

footer > div {
  display: flex;
  justify-content: center;
  gap: 15px;
  height: 84px;
}

.footer-links {
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;

  letter-spacing: 1.92px;
}
