.hero {
  width: 100%;
  height: 92vh;
  background-image: url("/public/Assets/hero-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hidden-hero-bg-img {
  position: fixed;
  height: 100%;
  object-fit: contain;
}

@media only screen and (max-width: 600px) {
  .hero {
    height: 300px;
  }
}
